@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  /* Colors */
  --white: #fff;

  /* Sizes */
  --borderWidth: 5px;
}

html,
body {
  height: 100%;
}

body {
  background: url("../assets/images/background.jpg") no-repeat center center
    fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  color: var(--white);
}

body > * {
  padding: 1em 0.5em;
}

.dark-back {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.473);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Header */

/* Main */

/* Garage */
.track {
  position: relative;
  width: 100%;
  border-top: var(--borderWidth) solid var(--white);
  border-bottom: var(--borderWidth) solid var(--white);
}

.track > * {
  width: 100%;
}

.track-options {
  border-bottom: var(--borderWidth) dashed var(--white);
}

.finish-line {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 3em;
}

.car {
  position: relative;
  transition: 2s linear;
  z-index: 1;
}
